<link th:href="@{/assets/css/student.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/css/form.css}" rel="stylesheet" type="text/css"/>
<th:block th:fragment="content">
<div class="page-header">
    <div>
        <h1 class="title">Edit Student</h1>
        <ul class="breadcrumbs">
            <li><a th:href="@{/home}">Home</a></li>
            <li class="divider">/</li>
            <li><a th:href="@{/student}">Students</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Edit Student</a></li>
        </ul>
    </div>
    <a th:href="@{/student}" class="btn-secondary">
        <i class='bx bx-arrow-back'></i> Back to Students
    </a>
</div>

<div class="form-container">

    <p class="form-title">Student Information</p>

    <form th:action="@{/student/edit}" method="POST" class="form-body">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="form-row">
            <div class="form-group">
                <label for="studentID">Student ID <span>*</span></label>
                <input type="text" name="id" id="studentID" value="" th:value="${student.id}" readonly>
            </div>

            <div class="form-group">
                <label for="studentName">Full Name</label>
                <input type="text" name="name" id="studentName" value="" th:value="${student.name}" required>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="birthdate">Date of birth</label>
                <input type="text" id="birthdate" name="birthdate" value="" th:value="${student.birthdate}" pattern="^\d{4}-\d{2}-\d{2}$">
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" id="gender" name="gender" value="" th:value="${student.gender}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" value="" th:value="${student.address}">
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" value="" th:value="${student.city}">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="" th:value="${student.email}">
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                   <input type="text" id="phone" name="phone"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 11);"
                       pattern="^\d{10,11}$"
                       placeholder="Nhập 10–11 số"
                       value="" th:value="${student.phone}"
                       required>
            </div>
        </div>
            
        <div class="form-row">
            <div class="form-group">
                <label for="department" class="form-label">Department</label>
                <select id="department" class="form-select" aria-label="Default select example" name="department.code">
                    <th:block th:each="dep : ${departmentList}">
                        <option th:value="${dep.code}" th:text="${dep.name}" th:selected="${student.department != null and student.department.code == dep.code}"></option>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-buttons">
            <a th:href="@{/student}" class="btn btn-cancel">Cancel</a>
            <button type="submit" class="btn btn-save">
                <i class='bx bx-save'></i> Update Student
            </button>
        </div>

    </form>
</div>
</th:block>
