<div class="page-header">
    <div>
        <h1 class="title"
            th:text="${lecturer.id == null || lecturer.id == 0
      ? 'Add New Lecturer'
      : 'Edit Lecturer'}">
        </h1>

        <ul class="breadcrumbs">
            <li><a th:href="@{/}">Home</a></li>
            <li class="divider">/</li>
            <li><a th:href="@{/student/list}">Students</a></li>
            <li class="divider">/</li>
            <li>
                <a href="#"
                   class="active"
                   th:text="${lecturer.id == 0 || lecturer.id == null
                 ? 'Add New Lecturer'
                 : 'Edit Lecturer'}">
                </a>
            </li>

        </ul>
    </div>

    <a th:href="@{/lecturer/list}" class="btn btn-back">
        <i class='bx bx-arrow-back'></i> Back to Lecturers
    </a>

</div>

<!-- CENTER PAGE -->
<div class="form-page">

    <div class="form-container">

        <p class="form-title">Student Information</p>

        <form th:action="@{/lecturer/save}"
              th:object="${lecturer}"
              method="post"
              class="form-body">

            <input type="hidden" th:field="*{id}" />

            <div class="form-row">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" th:field="*{name}" placeholder="Enter lecturer name">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" th:field="*{email}" placeholder="Enter email">
                </div>

            </div>

            <div class="form-row">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" th:field="*{title}">
                </div>

                <div class="form-group">
                    <label>Department</label>

                    <select th:field="*{department.code}">

                        <option value="">-- Select Department --</option>

                        <option th:each="dept : ${listDepartments}"
                                th:value="${dept.code}"
                                th:text="${dept.name}">
                        </option>

                    </select>

                </div>

            </div>

            <div class="form-row">

                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" th:field="*{phone}">
                </div>

            </div>

            <div class="form-buttons">

                <a th:href="@{/lecturer/list}" class="btn btn-cancel">
                    Cancel
                </a>

                <button type="submit" class="btn btn-save">

                    <i class='bx bx-save'></i>

                    <span th:text="${lecturer.id == null ? 'Save' : 'Update'}"></span>

                </button>

            </div>

        </form>
    </div>
</div>
