<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Uni System</title>

    <!-- ICON -->
    <link href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- DASHBOARD CSS (CHỦ LỰC) -->
    <link rel="stylesheet" th:href="@{/assets/css/dashboard.css}">

    <!-- CUSTOM / WIDGET -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/assets/css/form.css}">
    <link rel="stylesheet" th:href="@{/assets/css/user.css}">

</head>
