<link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/css/form.css}" rel="stylesheet" type="text/css"/>
<th:block th:fragment="content">
<div class="page-header">
    <div>
        <h1 class="title">Delete User</h1>
        <ul class="breadcrumbs">
            <li><a th:href="@{/home}" href="/home">Home</a></li>
            <li class="divider">/</li>
            <li><a th:href="@{/user}" href="/user">Users</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Delete User</a></li>
        </ul>
    </div>

    <a th:href="@{/user}" href="/user" class="btn-secondary">
        <i class='bx bx-arrow-back'></i> Back to Users
    </a>
</div>

<div class="form-container">

    <form th:action="@{/user/delete}" action="/user/delete" method="POST" class="form-body">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="userId" th:value="${userToDelete.id}">

        <div class="form-row">
            <div class="form-group">
                <label>User ID</label>
                <input type="text" th:value="${userToDelete.id}" readonly>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" th:value="${userToDelete.username}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Role</label>
                <input type="text" th:value="${userToDelete.role}" readonly>
            </div>
            <div class="form-group">
                <label>Linked Lecturer</label>
                <input type="text" th:value="${userToDelete.lecturer != null ? userToDelete.lecturer.name : 'N/A'}" readonly>
            </div>
        </div>

        <div class="form-buttons">
            <a th:href="@{/user}" href="/user" class="btn btn-cancel">Cancel</a>
            <button type="submit" class="btn btn-delete-confirm">
                <i class='bx bx-trash'></i> Delete User
            </button>
        </div>
    </form>
</div>
</th:block>
