<th:block th:fragment="content">
<div class="page-header">
    <div>
        <h1 class="title">Add New Mark</h1>
        <ul class="breadcrumbs">
            <li><a href="home">Home</a></li>
            <li class="divider">/</li>
            <li><a href="mark?action=all">Marks</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Add Mark</a></li>
        </ul>
    </div>

    
        <th:block th:if="${not empty classId}">
            <a href="mark?action=viewByClass&classId=${classId}" th:href="@{|mark?action=viewByClass&classId=${classId}|}" class="btn-secondary">
                <i class='bx bx-arrow-back'></i> Back to Gradebook
            </a>
        </th:block>
        <th:block>
            <a href="mark?action=all" class="btn-secondary">
                <i class='bx bx-arrow-back'></i> Back to Marks
            </a>
        </th:block>
    
</div>

<th:block th:if="${not empty session.error}">
    <div class="alert alert-error">
        [[${session.error}]]
    </div>
    </th:block>

<div class="form-container">
    <p class="form-title">Enter Mark Details</p>

    <form action="mark" method="POST" class="form-body">
        <input type="hidden" name="action" value="create">

        <th:block th:if="${not empty classId}">
            <input type="hidden" name="classId" value="" th:value="${classId}">
        </th:block>

        <div class="form-row">
            <div class="form-group">
                <label for="enrollId">Student Enrollment <span>*</span></label>
                <select id="enrollId" name="enrollId" class="form-select" required>
                    <option value="" disabled selected>-- Select Student & Course --</option>
                    <th:block th:each="en : ${allEnrollment}">
                        <option value="" th:value="${en.id}" <th:block th:if="${en.id == preSelectedEnrollId}">selected</th:block>>
                            (ID: [[${en.id}]]) [[${en.student.name}]] - [[${en.cls.course.code}]] - [[${en.cls.semester.code}]]
                        </option>
                    </th:block>
                </select>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group">
                <label for="assessmentId">Assessment <span>*</span></label>
                <select id="assessmentId" name="assessmentId" class="form-select" required>

                    <option value="" disabled <th:block th:if="${empty preSelectedAssessId}">selected</th:block>>-- Select Assessment --</option>

                    <th:block th:each="as : ${allAssessment}">

                        <option value="" th:value="${as.id}" <th:block th:if="${as.id == preSelectedAssessId}">selected</th:block>>
                            [[${as.course.code}]] - [[${as.type}]] ([[${as.weight}]]%)
                        </option>

                    </th:block>
                </select>
            </div>

            <div class="form-group">
                <label for="mark">Mark (0-100) <span>*</span></label>
                <input type="number" id="mark" name="mark" step="0.1" min="0" max="100" placeholder="E.g: 85.5" required>
            </div>
        </div>

        <div class="form-buttons">
            
                <th:block th:if="${not empty classId}">
                    <a href="mark?action=viewByClass&classId=${classId}" th:href="@{|mark?action=viewByClass&classId=${classId}|}" class="btn btn-cancel">Cancel</a>
                </th:block>
                <th:block>
                    <a href="mark?action=all" class="btn btn-cancel">Cancel</a>
                </th:block>
            
            <button type="submit" class="btn btn-save">
                <i class='bx bx-plus'></i> Add New Mark
            </button>
        </div>
    </form>
</div>
</th:block>






