<th:block th:fragment="content">
<div class="page-header">
    <div>
        <h1 class="title">Delete Semester</h1>
        <ul class="breadcrumbs">
            <li><a href="home">Home</a></li>
            <li class="divider">/</li>
            <li><a href="semester?action=list">Semester</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Delete Semester</a></li>
        </ul>
    </div>
    <a href="semester" class="btn-secondary">
        <i class='bx bx-arrow-back'></i> Back to semester
    </a>
</div>

<div class="form-container">

    <p class="form-title">Semester Information</p>

    <form action="semester?action=delete" method="POST" class="form-body">

        <!--        <input type="hidden" name="action" value="edit">-->

        <div class="form-row">
            <div class="form-group">
                <label for="semesterCode">Semester Code <span>*</span></label>
                <input type="text" name="semesterCode" id="semesterCode" value="" th:value="${delSemester.code}" readonly>
            </div>

            <div class="form-group">
                <label for="semesterID">Semester ID</label>
                <input type="text" name="semesterID" id="semesterID" value="" th:value="${delSemester.id}" readonly>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="semesterYear">Semester Year</label>
                <input type="text" id="semesterYear" name="semesterYear" value="" th:value="${delSemester.year}" readonly> 
            </div>

            <div class="form-group">
                <label for="semesterBegin">Semester Begin Date</label>
                <input type="text" id="semesterBegin" name="semesterBegin" value="" th:value="${delSemester.beginDate}" readonly>
            </div>
        </div>

        <div class="form-row">           
            <div class="form-group">
                <label for="semesterEnd">Semester End Date</label>
                <input type="text" id="semesterEnd" name="semesterEnd" value="" th:value="${delSemester.endDate}" readonly>
            </div>
        </div>


        <div class="form-buttons">
            
            <a href="semester?action=all" class="btn btn-cancel">Cancel</a>
            <button type="submit" class="btn btn-save">
                <i class='bx bx-save'></i> Delete Semester
            </button>
        </div>

    </form>
</div>
</th:block>






