<th:block th:fragment="content">
<div class="page-header">
    <div>
        <h1 class="title">All Semester</h1>
        <p class="subtitle">Manage your institution's semester catalog.</p>
    </div>
    <div class="header-buttons">
<!--        <a href="#" class="btn-secondary">
            <i class='bx bx-export'></i> Export
        </a>-->
        <a href="semester?action=add" class="btn-add-new">
            <i class='bx bx-plus'></i> Add New Semester
        </a>
    </div>
</div>

<div class="stat-card-grid">
    <div class="stat-card">
        <div class="icon-wrapper blue">
            <i class='bx bxs-book-open'></i>
        </div>
        <div class="stat-info">
            <h3>[[${totalSemester}]]</h3>
            <p>Total Semester</p>
        </div>
    </div>
<!--    <div class="stat-card">
        <div class="icon-wrapper green">
            <i class='bx bx-check-circle'></i>
        </div>
        <div class="stat-info">
            <h3>[[${totalCourses}]]</h3> 
            <p>Active Courses</p>
        </div>
    </div>
    <div class="stat-card">
        <div class="icon-wrapper cyan">
            <i class='bx bxs-group'></i>
        </div>
        <div class="stat-info">
            <h3>[[${totalStudents}]]</h3>
            <p>Total Students</p>
        </div>
    </div>
    <div class="stat-card">
        <div class="icon-wrapper orange">
            <i class='bx bx-user-voice'></i>
        </div>
        <div class="stat-info">
            <h3>[[${totalEnrolls}]]</h3>
            <p>Avg. Enrollment</p>
        </div>
    </div>-->
</div>

<div class="table-container">
    <div class="table-header">
        <h3>All Semester</h3>
        <div class="table-filters">
            <div class="search-wrapper">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search semester by ID">
            </div>
            <select>
                <option value="">All Status</option>
                <option value="active">Active</option>
                <option value="disabled">Disabled</option>
            </select>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Year</th>
                <th>Begin Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="semester : ${semesterList}">
                <tr>
                    <td>[[${semester.id}]]</td>
                    <td>[[${semester.code}]]</td>
                    <td>[[${semester.year}]]</td>
                    <td>[[${semester.beginDate}]]</td>
                    <td>[[${semester.endDate}]]</td>

                    <td>
                        <div class="action-buttons">
                            <a href="semester?action=edit&sesID=${semester.id}" th:href="@{|semester?action=edit&sesID=${semester.id}|}" class="btn-action edit">
                                
                                <i class='bx bx-edit'></i>
                            </a>
                            <a href="semester?action=delete&sesID=${semester.id}" th:href="@{|semester?action=delete&sesID=${semester.id}|}" class="btn-action delete">
                                <i class='bx bx-trash'></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</th:block>






